@{
    ViewData["Title"] = "Home Page";
}

<script src="https://kit.fontawesome.com/dd8c49730d.js"
        crossorigin="anonymous"></script>

 <body>
    <div class="card">
        <div class="profile">
            <img class="img-fluid" src="images/profile2.jpg" />
        </div>
        <div class="main-content">
            <h3 class="name">Carlos Valeriano</h3>
            <h4 class="title">.NET developer 👨‍💻</h4>
        </div>
        <div class="skills">
            <h6>Projects</h6>
            <ul>
                <li>Password Generator</li>
                <li>Tetris</li>
                <li>Robobomb</li>
            </ul>
        </div>
        <ul class="social">
            <li><a href="https://github.com/CV145" class="fa fa-github"></a></li>
            <li><a href="https://www.instagram.com/codeberget" class="fa fa-instagram"></a></li>
        </ul>
    </div>
</body>

